<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'belt/css/main.css' %}" media="screen" title="no title"  charset="utf-8">
    <title>{{ sess_user.username }}</title>
</head>
<body>
    <div class="header">
        <p>Hello, {{ sess_user.username }}!</p>
        <a href="/travels">Home</a>
        <a href="/sign_out">Sign Out</a>
    </div>
    {{ travel.destination }}
    {{ travel.plan }}
    {{ travel.start_date }}
    {{ travel.end_date }}

    <h2>Other Users Joining the Trip</h2>
    {% for i in other_travelers %}
    <p>{{ i.name }}</p>
    {% endfor %}

</body>
</html>